<div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
    <div id="tabs">
        <button id="tab1" class="tab-button active">构建索引表</button>
        <button id="tab2" class="tab-button">远程包资源</button>
    </div>
    <div id="content">
        <div id="panel1" class="tab-content active">
            <h1>构建索引表</h1>
                <div style="height: 10vh;"></div>
                <select id="buildFolders"></select>
                <div style="height: 5vh;"></div>
                <button id="myButton">生成assetsindex.json</button>
        </div>
        <div id="panel2" class="tab-content">
            <h1>远程包资源</h1>
            <!-- 远程包资源的内容 -->
        </div>
    </div>

</div>