<div >
    <div id="tabs">
        <button id="tab1" class="tab-button active" data-tab="panel1">构建索引表</button>
        <button id="tab2" class="tab-button" data-tab="panel2">以来</button>
        <button id="tab3" class="tab-button" data-tab="panel3">P3</button>
    </div>
    <div id="content">
        <div id="panel1" class="tab-content active">
            <h1>构建索引表</h1>
                <div style="height: 5vh;"></div>
                <div>已有的构建目录选择一个:</div>
                <select id="buildFolders"></select>
                <div style="height: 5vh;"></div>
                <button id="myButton">生成assetsindex.json</button>
        </div>
        <div id="panel2" class="tab-content">
            <h1></h1>
            
        </div>
        <div id="panel3" class="tab-content">
            <h1>P3</h1>
        </div>
    </div>

</div>